

@font-face {
  font-family: 'Eu Alonira';
  -webkit-font-family: 'Eu Alonira';
  src: url('./fonts/Eu-Alonira/EuAlonira.eot');
  src: url('./fonts/Eu-Alonira/EuAlonira.eot') format('embedded-opentype'),
      url('./fonts/Eu-Alonira/EuAlonira.woff2') format('woff2'),
      url('./fonts/Eu-Alonira/EuAlonira.woff') format('woff'),
      url('./fonts/Eu-Alonira/EuAlonira.ttf') format('truetype'),
      url('./fonts/Eu-Alonira/eu-alonira.personal-use.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  background-color: #d69c8a;
}

label{
  margin: 5%;
  /* margin-right: 5%; */
}

input{
  font-family: Eu Alonira;
  margin-right: 5%;
}
select{
  width: 30%;
  height: 44px;
}
.token-input{
  background-color: #cce5bc;
  border: none;
}


